body {
    width: 100%;
    position: fixed;    
}

#header{
    position: relative;
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

h1{
    position: absolute;
    display: inline-block;
    line-height: 150px;
    text-align: center;
    width: 100%;
    height: 200px;
}


#content{
    position: relative;
    padding: 0;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    text-align: center;
}

.LockKey{
    position: absolute;
    display: inline-block;
    width: 500px;
    height: 200px;
    font-size: 40px;
    margin-top: 10%;
    right: 50%;
    transform: translateX(50%);
    background-color: white;
}

.next {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    right: 100px;
    bottom: 300px;
}

.next:hover{
    background-color: #ddd;
    color: black;
}

#input{
    margin-top: 80px;
    margin-bottom: 0;
}

input{
    font-size: 30px;
    color: gray;
    width: 500px;
    height: 50px;
    border-radius: 0%;
}

.next button{
    background: none;
    border: none;
}

#result1{
    font-size: 50px;
    font-weight: bold;
}

#result2{
    font-size: 50px;
    font-weight: bold;
}